<p>Hello, Jessica,</p>
<br>
<br>
<p><%= @user.name %> has sent in their RSVP for your wedding.</p>
<p>This reservation includes <%= @user.adults %> adults and <%= @user.childeren %> children.</p>
<p>To view your current list of online attendees <%= link_to "here.", user_index_url %> </p>
<p style="float: right;">Thank you,<br> Wedding Memories Staff</p>