<div class="container-fluid">
	<center>
		<p class="welcome">
			As love is what the night is all about, <br> Your presence is one we cannot celebrate without.<br>But should you still believe a gift is worth giving, <br>A small envelope for our future is a delightful blessing.<br><br>
		</p>	
		<p style="color: #ffffff; font-size: 20px; font-family: "Palatino Linotype"; text-shadow: 2px 2px #999999;">
			If an e-gift you would like to send,<br> Paypal is a trusted friend.
		</p>
	</center>
</div>