<div class="container-fluid">
	<h1 class="title">Editing Regret</h1>

	<%= render 'form', regret: @regret %>

	<%= link_to 'Show', @regret, class:"btn btn-semi-mini submit" %> |
	<%= link_to 'Back', regrets_path, class:"btn btn-semi-mini submit" %>
	
</div>