<div class="container-fluid">
	<h1 class="title">We're sorry you cannot make it.</h1>

	<%= render 'form', regret: @regret %>

	<%= link_to 'Back', regrets_path, class: "btn btn-semi-mini submit" %>	
</div>