<p>Hello <%= @resource.name %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</button>

<button type='button' style="background-color: #80d7d7;" ><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), style: "color: #ffffff" %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p style="float: right;">Thank you,<br> Wedding Memories Staff</p>